{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'links/style.css' %}">
</head>

<body>
    <div id="header">
    {% block header %}
    {% if user.is_authenticated %}
        
        <div class="nav-bar">
            <a class="hover" href="{% url 'home' %}">{% trans "Home" %}</a>
            
            <div class="dropdown">
                <input class="toggle" type="checkbox" id="toggle_drop"/>
                <label for="toggle_drop">{% trans "User" %}: {{ user.username }}</label>
                <div class="dropdown-content">
                    <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
                    <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                </div>
            </div>
        </div>

    {% endif %}
    <!-- <hr /> -->
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
    <!-- <hr /> -->
    {% endblock %}
    </div>
</body>

</html>
