{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'links/style.css' %}">
</head>

<body>
    <div id="header">
    {% block header %}
    {% if user.is_authenticated %}
        
        <a href="{% url 'home' %}">{% trans "Home" %}</a>
        (<a href="{% url 'logout' %}">{% trans "Log out" %}</a> | 
        <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>)

        <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
        </form>

        {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">admin panel</a>
        {% endif %}
        <br>
        {% trans "Logged in" %}: {{ user.username }} 
    {% else %}
       <a href="{% url 'login' %}">{% trans "Log in" %}</a>
       <a href="{% url 'django_registration_register' %}">{% trans "Register" %}</a>
    {% endif %}
    <hr />
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</body>

</html>
