{% extends "base.html" %}
{% load i18n %}

{% block content %}
{{username}} {% trans "'s " %} {{collection_name}} {% trans "collection" %}

<!-- Displays enabled links of the collection -->
{% if collection.links.all %}
    <ul>
    {% for link in collection.links.all %}
        {% if link.enabled == True %}
        <li><a href={{link.hyperlink}}>{{link.website_name}}</a></li>
        <a href={{link.hyperlink}}><img src="{{ link.image.url }}"></a>
        {% endif %}
    {% endfor %}
    </ul>

{% else %}
    <br>
    {% trans "No links" %}
{% endif %}

{% endblock %}
