{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<p class="page-title">{{ user.username }}'s {% trans "Home Page" %}</p>
<p class="section-title">Links:</p>
<a class="option" href="{% url 'createLink'%}" >{% trans "Add New Link" %}</a>
    {% if link_list %}
        <div class="links-grid">
        {% for link in link_list %}
            {% if forloop.counter <= 6 %}
            <div class="links-item" title="{{link.website_name}}">
                <a href="#"><img src="{{ link.image.url }}" alt="{{link.website_name}}"></a>
                <input class="toggle" type="checkbox" id="toggle_options"/>
                <label class="option" for="toggle_options">{% trans "Options" %}</label>
                <div class="option-grid">
                    <p class="section-title">{{link.website_name}}</p>
                    <a class="option" href={{link.hyperlink}}>{% trans "Visit Link" %}</a>
                    <a class="option" href="{% url 'deleteLink' link.id %}" >{% trans "Remove Link" %}</a>
                    <a class="option" href="{% url 'uploadLink' link.id %}" >{% trans "Change Image" %}</a>
                    {% if link.default %}
                    <form action="{% url 'updateLink' %}" method="post">
                        {% csrf_token %}
                        <input class="option" type="submit" name="button" value="Remove Default">
                        <input type="hidden" name="d_id" value={{link.id}}>
                        <input type="hidden" name="set" value="Remove">
                        <input type="hidden" name="type" value="Default">
                    </form>
                    {% else %}
                    <form action="{% url 'updateLink' %}" method="post">
                        {% csrf_token %}
                        <input class="option" type="submit" name="button" value="Set Default">
                        <input type="hidden" name="d_id" value={{link.id}}>
                        <input type="hidden" name="set" value="Set">
                        <input type="hidden" name="type" value="Default">
                    </form>
                    {% endif %}
                    {% if link.enabled %}
                    <form action="{% url 'updateLink' %}" method="post">
                        {% csrf_token %}
                        <input class="option" type="submit" name="button" value="Disable">
                        <input type="hidden" name="d_id" value={{link.id}}>
                        <input type="hidden" name="set" value="Disable">
                        <input type="hidden" name="type" value="Enable">
                    </form>
                    {% else %}
                    <form action="{% url 'updateLink' %}" method="post">
                        {% csrf_token %}
                        <input class="option" type="submit" name="button" value="Enable">
                        <input type="hidden" name="d_id" value={{link.id}}>
                        <input type="hidden" name="set" value="Set">
                        <input type="hidden" name="type" value="Enable">
                    </form>
                    {% endif %}
                    <label class="option" for="toggle_options">{% trans "Exit" %}</label>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <p class="section-title">{% trans "No links" %}</p>
        <br>
        <br>
    {% endif %}
<br>
<p class="section-title">Collections:</p>
<a class="option" href="{% url 'createCollection' %}" >{% trans "New Collection" %}</a>
    {% if collection_list %}
    <div class="collection-box">
        {% for collection in collection_list %}
        <a href="{% url 'detailCollection' collection.id %}">{{collection.name}}</a>
        {% endfor %}
    </div>
    {% endif %}    
{% endif %}
{% endblock %}