{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<h1>teststingaisoqir[qoirj[qoirh[qoih]jgqoij[oi</h1>
{{ user.username }}'s {% trans "Home Page" %}
<br>
<br>
Links:
    {% if link_list %}
        <ul>
        {% for link in link_list %}
            <li><a href={{link.hyperlink}}>{{link.website_name}}</a>
             | 
            <a href="{% url 'deleteLink' link.id %}" >{% trans "Remove Link" %}</a>
            | 
            <a href="{% url 'uploadLink' link.id %}" >{% trans "Change Image" %}</a>
            {% if link.default %}
                <form action="{% url 'updateLink' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="button" value="Remove Default">
                    <input type="hidden" name="d_id" value={{link.id}}>
                    <input type="hidden" name="set" value="Remove">
                    <input type="hidden" name="type" value="Default">
                </form>
            {% else %}
                <form action="{% url 'updateLink' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="button" value="Set Default">
                    <input type="hidden" name="d_id" value={{link.id}}>
                    <input type="hidden" name="set" value="Set">
                    <input type="hidden" name="type" value="Default">
                </form>
            {% endif %}
            {% if link.enabled %}
            <form action="{% url 'updateLink' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="button" value="Disable">
                <input type="hidden" name="d_id" value={{link.id}}>
                <input type="hidden" name="set" value="Disable">
                <input type="hidden" name="type" value="Enable">
            </form>
            {% else %}
            <form action="{% url 'updateLink' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="button" value="Enable">
                <input type="hidden" name="d_id" value={{link.id}}>
                <input type="hidden" name="set" value="Set">
                <input type="hidden" name="type" value="Enable">
            </form>
            {% endif %}
        {% endfor %}
        
        </ul>
    {% else %}
        {% trans "No links" %}
        <br>
        <br>
    {% endif %}
    <li><a href="{% url 'createLink'%}" >{% trans "New Link" %}</a></li>
<br>
Collections:
    {% if collection_list %}
    <ul>
        {% for collection in collection_list %}
        <li><a href="{% url 'detailCollection' collection.id %}">{{collection.name}}</a></li>
        {% if collection.link %}
            {% for collection.link in collection_list %}
            <a href={{collection.link.hyperlink}}>{{collection.link.website_name}}</a>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}    
<li><a href="{% url 'createCollection' %}" >{% trans "New Collection" %}</a></li>
{% endif %}
{% endblock %}