{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
{{ user.username }}'s {% trans "Home Page" %}
<br>
<br>
Links:
<br>
    {% if link_list %}
        <ul>
        {% for link in link_list %}
            <li><a href={{link.hyperlink}}>{{link.website_name}}</a> | <a href="{% url 'home'%}" >{% trans "Remove Link" %}</a> | <a href="{% url 'home'%}" >{% trans "Change Image" %}</a> | 
            {% if link.default %}
                <a href="{% url 'home'%}" > {% trans "Remove Default" %}</a>
            {% else %}
                <a href="{% url 'home'%}" > {% trans "Set Default" %}</a>
            {% endif %}
             | 
            {% if link.enabled %}
                <a href="{% url 'home'%}" > {% trans "Disable" %}</a></li>
            {% else %}
                <a href="{% url 'home'%}" > {% trans "Enable" %}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="{% url 'home'%}" >{% trans "Add Link" %}</a></li>
        </ul>
    {% else %}
        {% trans "No links" %}
        <br>
        <br>
        <li><a href="{% url 'home'%}" >{% trans "Add Link" %}</a></li>
    {% endif %}
<br>
{% else %}
{% endif %}


{% endblock %}
