{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<p class="page-title">{{username}}{% trans "'s Home Page" %}</p>
<p class="section-title">Links:</p>
{% if link_list %}
    <div class="links-grid">
    {% for link in link_list %}
        {% if link.enabled == True %}
        <div class="links-item" title="{{link.website_name}}"><a href={{link.hyperlink}}><img src="{{ link.image.url }}" alt="{{link.website_name}}" width=100 height=100></a></div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <br>
    {% trans "No links" %}
{% endif %}

{% endblock %}
