{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<p class="page-title">{{username}}{% trans "'s Home Page" %}</p>
<p class="section-title">Links:</p>
{% if link_list %}
    <div class="links-grid">
    {% for link in link_list %}
        {% if link.enabled == True and forloop.counter <= 6 %}
        <div class="links-item" title="{{link.website_name}}"><a href={{link.hyperlink}}><img src="{{ link.image.url }}" alt="{{link.website_name}}"></a></div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <br>
    <p class="section-title">{% trans "No links" %}</p>
{% endif %}
<p class="section-title">Collections:</p>
{% if collection_list %}
<div class="collection-box">
    {% for collection in collection_list %}
    <a class="collection" href="{% url 'collectionPage' collection.user collection.name %}">{{collection.name}}</a>
    {% endfor %}
</div>
{% else %}
    <p class="section-title">{% trans "No collections" %}</p>
    <br>
    <br>
{% endif %}
{% endblock %}
