Django==3.2.2
django-allauth==0.44.0
django-registration==3.1.2
Pillow==8.3.2
requests==2.22.0
pytest-django==4.2.0
pytest-cov==2.11.1
python-json-logger==2.0.1
matrix-nio==0.18.1
psycopg2-binary>=2.8
beautifulsoup4==4.9.3
