{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{{ collection.name }}</h1>

{% if collection.links.all %}
        <ul>
        {% for link in collection.links.all%}
            <li><a href={{link.hyperlink}}>{{link.website_name}}</a>
             |
            <a href="{% url 'deleteLink' link.id %}" >{% trans "Remove Link" %}</a>
            |
            <a href="{% url 'uploadLink' link.id %}" >{% trans "Change Image" %}</a>
            {% if link.default %}
                <form action="{% url 'updateLink' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="button" value="Remove Default">
                    <input type="hidden" name="d_id" value={{link.id}}>
                    <input type="hidden" name="set" value="Remove">
                    <input type="hidden" name="type" value="Default">
                </form>
            {% else %}
                <form action="{% url 'updateLink' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="button" value="Set Default">
                    <input type="hidden" name="d_id" value={{link.id}}>
                    <input type="hidden" name="set" value="Set">
                    <input type="hidden" name="type" value="Default">
                </form>
            {% endif %}
            {% if link.enabled %}
            <form action="{% url 'updateLink' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="button" value="Disable">
                <input type="hidden" name="d_id" value={{link.id}}>
                <input type="hidden" name="set" value="Disable">
                <input type="hidden" name="type" value="Enable">
            </form>
            {% else %}
            <form action="{% url 'updateLink' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="button" value="Enable">
                <input type="hidden" name="d_id" value={{link.id}}>
                <input type="hidden" name="set" value="Set">
                <input type="hidden" name="type" value="Enable">
            </form>
            {% endif %}
        {% endfor %}

        </ul>
    {% else %}
        {% trans "No links" %}
        <br>
        <br>
    {% endif %}

    <a href="{% url 'deleteCollection' collection.pk %}"><button type = "button">Delete Collection</button></a>

{% endblock %}