{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="page-title">{{ collection.name }}</h1>
{% if user == collection.user %}
    {% if collection.links.all %}
        <div class="links-grid">
        {% for link in collection.links.all%}
            <div class="links-item" title="{{link.website_name}}">
                <img src="{{ link.image.url }}" alt="{{link.website_name}}">
                <input class="toggle" type="checkbox" id="toggle_options{{forloop.counter}}"/>
                <label class="option" for="toggle_options{{forloop.counter}}">{% trans "Options" %}</label>
                <div class="option-grid">
                    <a class="option" href="{% url 'removeLink' collection.id %}" >{% trans "Remove Link" %}</a>
                    <label class="option" for="toggle_options{{forloop.counter}}">{% trans "Close Window" %}</label>
                </div>
            </div>
        {% endfor %}

        </div>
    {% else %}
        <p class="section-title">{% trans "No links" %}</p>
        <br>
        <br>
    {% endif %}

    <!-- Click on links to update or delete collection -->
    <a class="option" href="{% url 'updateCollection' collection.pk %}">Update Collection</a>
    <a class="option" href="{% url 'deleteCollection' collection.pk %}">Delete Collection</a>

<!-- If the collection owner is not the logged in user display this message -->
{% else %}
<div class="form-page"><strong>This is not your collection.</strong></div>

{% endif %}

{% endblock %}