{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!-- If catches error, display message -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <p style="color:#FF0000">{% if message.tags %} {% endif %}{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

<div class="form-page">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Create">
    </form>
    <a class="button" href="{% url 'home' %}">Back</a>

</div>
{% endblock %}
