{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-page">
    <!-- If collection owner is the logged in user display form -->
    {% if user == collection.user %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Save">
        <a class="button" href="{% url 'home' %}">Back</a>
    </form>
    
    <!-- If collection owner is not the logged in user display message -->
    {% else %}
    <strong>This is not your collection!</strong>
    
    {% endif %}
</div>

{% endblock %}